VIDEOS/
Extraceted Data/
BALANCED_LABELS/
LABELSsss/
ATTENDENCE RESULTS/
Clusters and Similarity/
Results/
*.csv
*.xlsx
*.pkl
*.keras
*.jpg
*.bin
*.pt
*.onnx
*.engine
*.mp4
*.mkv
*.npy
.vscode
*.yaml
