VIDEOS/
Extraceted Data/extracted_faces
Extraceted Data/videos
BALANCED_LABELS/
LABELS/
ATTENDENCE RESULTS/
Clusters and Similarity/
Results/
*.csv
*.xlsx
*.pkl
*.keras
*.jpg
*.bin
*.pt
*.pt
*.onnx
*.engine
.vscode
